main {
    display: grid;
    align-items: center;
    grid-template-rows: 100vh;
    font-family: 'Tangerine', serif;
    font-size: 20px;
    text-shadow: 4px 4px 4px #aaa;
  }
  b {
    font-family: 'Beth Ellen', cursive;

  }
  section {
    max-width: 600px;
    margin: auto;
    
  }
  mat-form-field {
    width: 100%;
  }
  button {
    width: 100%;
    margin-top: 15px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

